body {
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
button {
    outline: none;
}
#header-title {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid;
    padding: 1%;
    font-weight: 600;
    background: #111111;
    color: white;
}
#menu-title {
    margin-left: 15%;
    margin-top: 3%;
    font-weight: 600;
    font-size: 35px;
    font-style: italic;
}
.content-section {
    width: 70%;
    margin-left: 15%;
}

.content-section > table {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    box-shadow: 2px 3px 5px grey;
}

.content-section > table > tbody > tr {
    border: 1px solid;
}
.content-section > table > tbody > tr > th {
    padding: 1%;
}
.content-section > table > tbody > tr > td {
    padding: 1%;
    cursor: pointer;
}
.content-section table tr:hover td {
    background-color: black;
    color: white;
}

.seq {
    width: 10%;
}
.title {
    width: 50%;
}
.regdate,
.nickname {
    width: 20%;
}

.pageNumber-section {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.pageNumber-section > a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 1%;
    box-shadow: 1px 2px 4px grey;
    border-radius: 10px;
    color: white;
    background: black;
    margin: 0 3px;
}
.pageNumber-section > a:hover {
    color: orangered;
}
#current-page {
    color: orangered;
    font-weight: 1000;
    cursor: default;
    pointer-events: none;
}
.search-section {
    width: 85%;
    margin-left: 15%;
    margin-top: 1%;
}
.search-section > input {
    border-radius: 3px;
    border: 1px solid gray;
    padding: 0px 7px;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    box-shadow: 2px 3px 3px grey;
    outline: none;
}
.search-section > select {
    padding: 3px 2px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 2px 3px 3px grey;
}

.search-section > button {
    height: 32px;
    color: white;
    background: #121212;
    border: 1px solid #232222;
    border-radius: 3px;
    padding: 0px 10px;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 3px 3px 3px grey;
}
@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .content-section {
        width: 96%;
        margin-left: 2%;
    }
}
