body {
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
button {
    outline: none;
}
#header-title {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid;
    padding: 1%;
    font-weight: 600;
    background: #111111;
    color: white;
}

.document-section {
    width: 50%;
    margin-left: 25%;
    padding: 3%;
    box-shadow: 2px 2px 5px grey;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow-x: hidden;
}

.document-section > h2 {
    width: 80%;
}
#document-title {
    display: inline-block;
}
#document-tag {
    font-size: 3px;
    color: white;
    user-select: none;
}
.document-section > img {
    width: 100%;
    margin-top: 2%;
    position: relative;
    box-shadow: 2px 2px 7px grey;
}
.document-section > button {
    background: black;
    color: white;
    border: none;
    padding: 2% 3%;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px grey;
    position: relative;
    overflow: hidden;
}
.document-section > button > span {
    z-index: 2;
}

.document-section > button::after {
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    background: #fff;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
}
.document-section > button:hover::after {
    left: 120%;
}
.contents > ul {
    width: 90%;
    margin: 10% 5%;
    padding: 0;
    pointer-events: none;
}
.contents > ul > li {
    margin-right: 2%;
    width: 25%;
    display: inline-grid;
}
.contents > ul > li {
    margin-right: 5%;
    display: inline-table;
}
.contents > ul > li > a {
    display: block;
}
.contents > ul > li > dl > dd {
    margin: 0;
}
.contents > p {
    width: 90%;
    line-height: 2em;
}

#download-button {
    width: 30%;
    height: 55px;
    margin-left: 14%;
    background: #e53131;
    letter-spacing: 1px;
    font-weight: 600;
}

#coupon-button {
    width: 30%;
    margin: 0 5%;
    background: #f19c1f;
    height: 55px;
    letter-spacing: 1px;
    font-weight: 600;
}
@media (max-width: 600px) {
    .document-section {
        width: 90%;
        margin-left: 2.5%;
    }
}
